{% extends "employee/empindex.html" %}

{% block content %}
<div class="recent-leaves">
  <h3>Recent Leaves</h3>
  <table id="recent-leaves-table" class="operations-table">
    <thead>
      <tr>
        <th>Sr No</th>
        <th>Employee</th>
        <th>Leave Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
      {% set sr_no = 1 %}
      {% for key, leave in leaves.items() %}
        {% if session.name == leave.name %}
        <tr>
          <td>{{ sr_no }}</td>
          <td>{{ leave.name }}</td>
          <td>{{ leave.type }}</td>
          <td>{{ leave.start }}</td>
          <td>{{ leave.end }}</td>
          <td>{{ leave.status }}</td>
        </tr>
        {% set sr_no = sr_no + 1 %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
